/* GENERAL STYLING */
:root {
  --font-primary: "Mukta", Arial, Helvetica, sans-serif;
  --container-margins: 1em;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-weight: 400;
}

body {
  background: #18293b;
}

.header-title {
  text-align: center;
  padding-top: 4rem;
  font-size: 3rem;
  color: rgb(215, 225, 255);
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 5%;
}

/* GRID */
.grid-container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--container-margins);
}

.image-grid-item {
  width: 100;
  height: 300px;
  background: rgb(0, 42, 179); /* fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(
      rgba(0, 162, 255, 0.1),
      rgba(0, 42, 179, 1)
    ),
    url("");
  background: linear-gradient(rgba(0, 162, 255, 1), rgba(0, 42, 179, 1)),
    url(""); /* The least supported option. */
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.4s ease;
}

.image-grid-item:hover {
  transform: scale(1.05);
  border: 10px 0 0 0;
  transition: all 0.4s ease;
  cursor: pointer;
}

.image-grid-item:hover .grid-img {
  background: rgb(0, 42, 179);
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.4s ease;
}

.grid-img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  background: black;
  opacity: 1;
  transition: all 0.4s ease;
}

.grid-image-title {
  display: inline-block;
  position: relative;
  top: -55%;
  padding: 0;
  margin: 0;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

/* UPLOADER STYLES */

.img-file-selector {
  color: white;
}